body {
    margin: 0;
    font-family: "Poppins", Sans-serif !important;
    overflow-x: hidden;
    color: #615E5E;
    line-height: 1.2;
    width: 100%;
    max-width: 100%;
    padding: 0;
    font-size: 1rem;
    box-sizing: border-box;
}

.video-container {
    position: relative;
    width: 100%;
    overflow: hidden;
}

video {
    width: 100%;
    height: auto;
    display: block;
}

video::-webkit-media-controls {
    display: none !important;
}

.container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    padding: 10px; 
    box-sizing: border-box;
    transition: background-color 0.3s ease; 
    /* extra */
    background: white;
    border-radius: 50px;
    margin-top: 10px;
}
    .container.sticky {
        background: white;
    border: 1px solid grey;
    margin-top: 0px;
    border-radius: 57px;
    border: none;
    box-shadow: rgba(3, 3, 3, 0.17) 0px 8px 32px 0px;
   z-index: 1000;
    }
.custom-logo {
    cursor: pointer;
    float: left; margin-left: 10px;
}

.custom-buttons, .custom-buttons2{
    float: right;display: flex;margin-top: 10px;
}

.custom-button,
.custom-button2 {
    padding: 3px;
    background-color: transparent;
    color: #1d1d1dc4;
    cursor: pointer;
    margin: 5px;
    border: none;
    margin-top: 12px;
    font-size: 14px;
    font-weight: 550;
}

.custom-menu {
    padding: 3px;
    cursor: pointer;
    margin: 5px;
    margin-top: 12px;
    /* width: 40px; */
}
.custom-buttons a .custom-button.active {
    color: #ffdd15;
    font-weight: 600;
  }
  
.about_main{
    padding: 5%;
}
.about{
   text-align: justify;
}
.line_lgao{
    text-decoration: none;
    border-bottom: 3px solid #ffdd15;color: #2f2f2f;text-transform: capitalize;font-weight: 550;
}
.imggg_0{
    padding: 20px; 
}
.saoring_img{
    border-radius: 25px;
}
.thumb{
    width: 50px;
    height: 50px;
    border: 1px solid grey;
    padding: 5px;
    border-radius: 25px 
}
/* .heart{
    height: 30vh;
    object-fit: cover;
    object-position: center center;
    border-radius: 20px 20px 20px 20px;
    width: 100%;
}
.heart2{
    height: 60vh;
    object-fit: cover;
    object-position: center center;
    border-radius: 20px 20px 20px 20px;
    width: 100%;
} */
#nature_hrt{
    padding-left: 160px;
    padding-right: 160px;
    padding-top: 50px;
    padding-bottom: 50px;
}
.one_ht{
    /* margin-top:29px; */
    margin-bottom:29px;
}
/* footer */
    .quick_pad{
        padding-left: 80px;
    }
    @media (max-width: 767px){
		.quick_pad{
        padding-left: 0px;
    }
	}
.footer{
    padding: 70px;font-size: 16px;color: #8c8c8c;
}
.footer-links2{
    list-style: none;line-height: 2;
}
.linksss{
    color: #8c8c8c;text-decoration: none;
}
.fa-brands, .fab {
    font-weight: 400;
    font-size: 27px;
    padding: 10px;color: #323232;
}
.testttttiii{
    margin-left: 25%;
}

/* enq form */
.enquiry-form {
    display: none;
    color: black;
    margin-top: 20px;
    width: 40%;
    position: relative;
    left: 30%;
    border: 1px solid black;
    padding: 20px;
}
.contactme{
    padding: 20px;
    box-shadow: rgb(249 249 249 / 35%) 0px 5px 15px;
}
.send_btn{
    width: 145px;
    padding: 12px;
    margin-left: 10px;
    border: 1px solid black;
    border-radius: 25px 
}
.info-box {
    display: flex;
    justify-content: space-around;
    align-items: center;flex-direction:column;
  }
  .info-item {
    display: flex;
    align-items: center;
    justify-content: flex-start; box-shadow: rgb(249 249 249 / 35%) 0px 5px 15px;
      padding: 20px 
  }
  .info-item i {
    font-size: 24px;
    margin-right: 10px;
  }
  .info-text {
    text-align: left;
  }

   /* Sidebar Styles */
   .sidebar {display: none;
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 100000;
    top: 0;
    right: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    width: 400px;
}

.sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 20px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidebar a:hover {
    color: #f1f1f1;
}

.sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 0px;
    font-size: 36px;
    margin-right: 50px;
}

@media screen and (max-height: 450px) {
    .sidebar {padding-top: 15px;}
    .sidebar a {font-size: 18px;}
}
.expl_head{
  padding: 8px 8px 8px 32px;
    color: white;
    
}
.mobile-menu {
    display: none;
}

@media only screen and (max-width: 768px) {
   
    ol, ul {
        padding-left: 0rem !important;
    }
    .custom-buttons {
        display: none;
    }
    .container.sticky {
        border-radius: 0;
    }
    .mobile-menu {
        display: flex; display: none;
        flex-direction: column;
        align-items: center;
        padding: 10px;
        width: 100%;
        background: white;
        margin-top: 63px;
        line-height: 2;
    }
    .testttttiii {
        margin-left: 0px;
    }
    .testimonial {
        text-align: center;
        color: #F2EFE8;
        margin: 20px;
        padding: 20px;
        border-radius: 30px;
        position: relative;
        z-index: 1;
    }
    .mobile-menu .custom-button3 {
        padding: 3px;
        background-color: transparent;
        color: black; /* Adjust the color to your preference */
        cursor: pointer;
        margin: 5px;
        border: none;
        margin-top: 12px;
    }
       
    .counter__back {
        font-size: 120px;
        line-height: 141px;
        padding-right: 0px !important;
        color: transparent;
        -webkit-text-stroke: 1px rgba(0, 0, 0, 0.2);
    }
}

        /* Style for overlay background */
        .overlay {
            display: none;
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.7);
            justify-content: center;
            align-items: center;
        }
        .toggler {
            position: fixed;
           top: 50%;
           right: -36px;
           background-color: #603913;
           color: #fff;
           padding: 10px 15px;
           border: none;
           cursor: pointer;
           font-size: 14px;
           z-index: 2;
           transform: rotate(-90deg);

        }
        /* Style for popup form */
        .popup {
            background-color: #fff;
            padding: 20px;
            width: 500px;
            border-radius: 5px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);z-index: 1000; 
        }

        /* Style for close button */
        .close {
            position: relative;
             margin-left: 96%;
            cursor: pointer;
            width: 10% !important;
            font-size: 30px;z-index: 10;
        }
        .frm_1{
            width: 100%;
            margin: 5px;
            padding: 5px;
            border: none;
            box-shadow: rgb(0 0 0 / 15%) 1.95px 1.95px 2.6px;
            border-radius: 5px;
        }
        .fm_btn{
            width: 40%;
    position: relative;
    left: 30%;
    border: none;
    background: black;
    color: white;
    padding: 10px 
        }

            .counter {
         position: relative;
         display: flex;
         align-items: center;
     }
     
     .counter.-light .counter__back {
         -webkit-text-stroke: 1px rgba(255, 255, 255, 0.2);
     }
     
     .counter__back {
         font-size: 120px;
         line-height: 141px;
         padding-right: 80px;
         color: transparent;
         -webkit-text-stroke: 1px rgba(0, 0, 0, 0.2);
     }
     
     .counter__content {
         display: flex;
         align-items: center;
         position: absolute;
         left: 30%;
     }
     
     .counter__number {
         font-size: 50px;
         font-weight: 600;
         line-height: 59px;
     }
     
     .counter__title {
         font-size: 14px;
         font-weight: 400;
         line-height: 20px;
         text-transform: uppercase;
         margin-left: 9px;
     }
     
     .counter.-portfolio-single {
         flex-direction: column;
         padding-top: 1.75rem;
     }
     
     .counter.-portfolio-single .counter__number {
         font-size: 50px;
         font-weight: 600;
         line-height: 1;
     }
     
     .counter.-portfolio-single .counter__content {
         position: relative;
         left: unset;
         flex-direction: column;
     }
     
     .counter.-portfolio-single .counter__back {
         padding: 0;
         position: absolute;
         top: 2px;
         font-size: 80px;
         line-height: 1;
         -webkit-text-stroke: 1px rgba(0, 0, 0, 0.2);
     }
     
     .counter.-portfolio-single.-light .counter__back {
         -webkit-text-stroke: 1px rgba(255, 255, 255, 0.2);
     }
     .m_d{
        margin-left: 80px;
     }
     #projects{
        padding: 70px;
     }
     .project-content{
        text-align: center;color: black;font-weight: 900;margin-top: 20px;
     }
     .project-content,h6,h4{
        margin-bottom: 0px;line-height: 1.3;
     }
     .project-menu{
        margin-bottom: 20px;
     }
     .enqq_btn{
        width: 10%;
    padding: 20px;
    left: 45%;
    position: relative;
    background: white;
    border: 1px solid;
    border-radius: 35px;
     }

     /*upload resume btn  */

     .upload-btn-wrapper1 {
        position: relative;
        overflow: hidden;
        display: inline-block;
        margin: 20px;
      }
      
      .enqbtn {
        border: 2px solid gray;
        color: gray;
        background-color: white;
        padding: 8px 20px;
        border-radius: 8px;
        font-size: 16px;
        font-weight: bold;
      }
      
      .upload-btn-wrapper1 input[type=file] {
        font-size: 100px;
        position: absolute;
        left: 0;
        top: 0;
        opacity: 0;
      }
      .file-name1 {
        margin-left: 10px;
      }
     .enq_frm_1{
        width: 100%;
    margin: 20px;
    padding: 20px;
    border: none;
    box-shadow: rgb(0 0 0 / 15%) 1.95px 1.95px 2.6px;
    border-radius: 5px;
    border: 1px solid #bfbfbf;
     }
.joinnn{
    margin-left: 20px;
    margin-bottom: 0px;
    margin-top: 100px;
}
.c_partner{
    margin-left: 25%;
}
.banner_main{
    background-repeat: no-repeat !important;
    background-size: cover !important;width: 100%; height: 500px;
}
.whatsapp{
    float: right;
    z-index: 98;
    position: fixed;
    bottom: 5.5625rem;
    right:1.5rem;
    transition: all 0.2s cubic-bezier(0.77, 0, 0.175, 1);
}
.whatsapp, .nav__item_whatsapp, .main_whatsapp{
    color: white;
    background: #00b005 !important;
    font-size:25px;
    padding: 3px;
    border-radius: 50px;
}
.subheading{
    margin-top: 20%;color: #000000c9;
}
.two{
    display: none;
}
     @media only screen and (max-width: 768px) {
        .two{
            display: block;width: 40px;
        }
        .one{
            display: none;
        }
        .m_d{
            margin-left:-24px;
         }
         .joinnn {
            margin: 20px;
            margin-bottom: 0px;
            margin-top: 20px;
        }
        .c_partner{
            margin-left: 0%;
        }
        .banner_main{
          height:205px;
        }
        }









        .overlayImgs {
            position: relative;
            width: 100%;
            padding-left: 50px;
            padding-right: 40px;
        }
        @media (max-width: 991px) {
            .overlayImgs {
                padding-left: 0;
                padding-right: 40px;
            }
        }
        
        .overlayImgs img {
            width: 100%;
            height: auto;
        }
        
        .overlayImgs__back {
            max-width: 530px;
        }
        
        .overlayImgs__back.-border {
            border: 6px solid #FFFFFF;
        }
        
        .overlayImgs__front {
            position: absolute;
            bottom: -80px;
            right: 0;
            width: 60%;
        }
        
        .overlayImgs__front.-border {
            border: 6px solid #FFFFFF;
        }
        .layout-pt-lg {
            padding: 120px;
        }
        .sectionHeading__text {
            margin-top: 42px;
            font-size: 15px;
            line-height: 24px;
            color: #545454;
            text-align: justify;
        }
        .sectionHeading__subtitle {
            color: #7c492c;
            font-size: 14px;
            line-height: 16px;
            margin-bottom: 16px;
        }
        .sectionHeading__title {
            font-size: 35px;
            font-weight: 600;
            line-height: 41px;
        color:#2d2d2d;
        }

        /* carousel on jhome  */
        .slider-container {
            width: 80%;
            margin: 50px auto;
            position: relative;
            overflow: hidden;
          }
      
          .slider {
            display: flex;
            transition: transform 0.5s ease;
          }
      
          .card {
            flex: 0 0 300px; 
            /* margin: 0 10px; */
            padding: 10px;
            border: 1px solid #ddd;
            background-color: #f9f9f9;
            border-radius: 10px;
            border: none;
          }
          .card, .carrr{
            border-radius: 10px;height: 500px;width: 100%;object-fit: cover;background: none;
          }
          .slider-btn {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            cursor: pointer;
            font-size: 24px;
            color: #333;
            background: transparent;
            border: none;
            outline: none;
          }
      
          #prev {
            left: 10px;color: white;
          font-size: 38px;
          }
      
          #next {
            right: 10px;color: white;
          font-size: 38px;
          }
          @media (max-width: 991px) {
          .layout-pt-lg {
            padding: 60px;
        }
    }
    .testimo{margin-left: 25%; width: 50%;color: #c9c9c9 !important;}
    .test_m{
        margin-left: 25%;margin-top: 3%;
    } 
    @media (max-width: 768px) {
        .card {
            flex: 0 0 50%;
            margin-right: 0;
            height: auto;
        }
    
        .carrr {
            border-radius: 10px;
            width: 100%;
            height: auto;
            object-fit: contain ;
            background: none;
            border: 1px solid red;
        }
        .testimo{margin-left: 0%; width: 100%;}
        .test_m{
            margin-left: 0%;margin-top: 0%;
        } 
    }
/* testimonila */
.testimonial-container {
    width: 100%;
    text-align: center;
    overflow: hidden;
    position: relative;
}

/* .testimonials {
    display: flex;
    transition: transform 0.5s ease-in-out;
} */

.testimonial {
    width: 100%; color: #c9c9c9 !important;
    display: none;
}

.testimonial.active {
    display: block;padding: 20px;
}

.dot-container {
    position: absolute;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
}

.dot {
    height: 10px;
    width: 10px;
    background-color: #bbb;
    border-radius: 50%;
    margin: 0 5px;
    cursor: pointer;
}

.dot.active {
    background-color: #ffdd15;
}
.myhna{
  position: relative; margin-top: 50%;margin-left: 50%;
}
.about_img_1{
    display: none;
}
.about_img_2{
    width: 100%;
    position: relative;
    margin-left: 50%;
    padding: 10px;
    height: 300px;
    margin-top: -134px;
    border-radius: 25px ;
}
.about_img_3{
    width: 100%;position: relative;margin-left: 50%;padding: 10px; border-radius: 25px;margin-top: 21%;
}
.about_img_4{
   width: 100%;position: relative; margin-left: 50%;padding: 10px; border-radius: 25px;
}
@media (max-width: 768px) {
    .about_img_1{display: none;}
    .about_img_2{display: none;}
    .about_img_3{
        width: 100%;
    position: relative;
    margin-left: 0%;
    padding: 10px;
    border-radius: 25px;
     margin-top: 0%;
    }
    .about_img_4{display: none;}
.myhna{
    position: relative;
    margin-top: 50%;
    margin-left: 25%;
}
}

.bg-image {
    background-size: cover !important;
    z-index: -1;
    width: 100%;
    height: 100%;
    background: url(../img/about.jpg);
}
.ratio-29\:33::before {
    padding-bottom: 113.7931%;
}
.ratio::before {
    display: block;
    /* width: 100%; */
    content: "";
}
.ab_myh{
    background-color: #603913;
    padding: 50px;
    margin-left: -8.33333vw;
    margin-bottom: -7.75rem;
}
.whowe{
    padding-bottom: 200px;
}
.cir_skill{
    background-color: #2f1903c2;
}
@media (max-width: 768px) {
    .ab_myh {
        background-color: #603913;
        padding: 30px;
        margin-left: -1.33333vw;
        margin-bottom: -7.75rem;
        margin-top: 10px;
    }
}









.pieChart__chart {
    transform: rotate(-90deg);
    display: flex;
    justify-content: center;
    align-items: center;
}

.pieChart circle {
    stroke-dashoffset: 0;
    fill: transparent;
}

.pieChart circle.pieChart__bar {
    stroke: var(--accent-color);
    stroke-width: 1.5px;
}
.pieChart circle.pieChart__bar {
    stroke: white;
    stroke-width: 1.5px;
}
.pieChart__back {
    stroke: black;
    stroke-width: 1.5px !important;
}

.pieChart__percent {
    transform: rotate(90deg);
    position: absolute;
    font-size: 35px;
    line-height: 41px;
    font-weight: 600;
}

@media (max-width: 991px) {
    .pieChart__percent {
        font-size: 18px;
        line-height: 21px;
    }
}

.pieChart__title {
    margin-top: 30px;
    font-size: 18px;
    font-weight: 600;
    line-height: 21px;
}

@media (max-width: 991px) {
    .pieChart__title {
        margin-top: 20px;
        font-size: 16px;
        line-height: 19px;
    }
}

.pieChart__text {
    margin-top: 14px;
    font-size: 14px;
    line-height: 24px;
}

@media (max-width: 991px) {
    .pieChart__text {
        margin-top: 8px;
    }
}

.pieChart {
    transition: background-color 0.35s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.pieChart .pieChart-title,
.pieChart .pieChart-text,
.pieChart .pieChart-percent {
    transition: color 0.35s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.pieChart-light circle {
    stroke: rgba(255, 255, 255, 0.2);
}

.pieChart-light:hover {
    background-color: white;
}

.pieChart-light:hover .pieChart-percent,
.pieChart-light:hover .pieChart-title {
    color: black;
}

.pieChart-light:hover .pieChart-text {
    color: var(--font-dark);
}

.pieChart-dark circle {
    stroke: rgba(0, 0, 0, 0.1);
}

.pieChart-dark:hover {
    background-color: black;
}

.pieChart-dark:hover .pieChart-percent,
.pieChart-dark:hover .pieChart-title {
    color: white;
}

.pieChart-dark:hover .pieChart-text {
    color: var(--font-light);
}

.lineChart__item {
    margin-top: 2rem;
    margin-top: 2rem;
}

.lineChart__item:first-child {
    margin-top: 0;
}

.lineChart__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.5rem;
}

.lineChart__content p {
    font-size: inherit;
    color: inherit;
    line-height: inherit;
}

.lineChart__bar {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    height: 0.1875rem;
}

.lineChart__bar__item {
    width: 100%;
    height: 100%;
    transform-origin: 0% 50%;
    transform: scaleX(0);
}

.lineChart__bar__bg {
    position: absolute;
    width: 100%;
    height: 0.1875rem;
    background-color: rgba(0, 0, 0, 0.1);
}

.lineChart__bar__bg.-light {
    background-color: rgba(255, 255, 255, 0.1);
}

.lineChart__item {
    margin-top: 2rem;
    margin-top: 2rem;
}

.lineChart__item:first-child {
    margin-top: 0;
}

.lineChart__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.5rem;
}

.lineChart__content p {
    font-size: inherit;
    color: inherit;
    line-height: inherit;
}

.lineChart-bar {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    height: 0.1875rem;
}

.lineChart-bar__item {
    width: 100%;
    height: 100%;
    transform-origin: 0% 50%;
    transform: scaleX(0);
}

.lineChart-bar__bg {
    position: absolute;
    width: 100%;
    height: 0.1875rem;
    background-color: rgba(0, 0, 0, 0.1);
}

.lineChart-bar__bg.-light {
    background-color: rgba(255, 255, 255, 0.1);
}
.sectionHeading.-top-line .sectionHeading__subtitle {
    display: flex;
    align-items: center;
    flex-direction: column;color: white;
}
